<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.couponfinder.mapper.CouponMapper">
    <resultMap id="mainMap" type="Coupon">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="status" column="status"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="totalQuantity" column="total_quantity"></result>
        <result property="usedQuantity" column="used_quantity"></result>
        <result property="originalPrice" column="original_price"></result>
        <result property="presentPrice" column="present_price"></result>
    </resultMap>

    <resultMap id="walletCouponDTOMap" type="WalletCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="originalPrice" column="original_price"></result>
        <result property="presentPrice" column="present_price"></result>
    </resultMap>

    <update id="minusCouponCollectedQuantity" parameterType="Long">
        UPDATE coupon
        SET collected_quantity = collected_quantity - 1
        WHERE id = #{id}
    </update>

    <delete id="deleteCoupon">
        DELETE
        FROM card_package_coupon
        WHERE card_package_id = (
            SELECT card_package_id
            FROM user
            WHERE open_id = #{open_id}
        )
          AND coupon_id = #{id}
    </delete>

    <select id="getHotCoupons" resultMap="mainMap">
        SELECT *
        FROM coupon
        WHERE category_id = 2
        ORDER BY used_quantity DESC
    </select>

    <select id="getCouponInfo" resultMap="mainMap" parameterType="Long">
        SELECT *
        FROM coupon
        WHERE id = #{id}
    </select>

    <select id="getCouponDetailImages" resultType="String" parameterType="Long">
        SELECT img_url
        FROM goods_detail_image
        WHERE coupon_id = #{id}
    </select>

    <select id="getAvailableCoupons" resultMap="walletCouponDTOMap"
            parameterType="String">
        SELECT id, title, description, picture_url, original_price, present_price
        FROM coupon
        WHERE id IN (
            SELECT coupon_id
            FROM card_package_coupon
            WHERE card_package_id = (
                SELECT id
                FROM card_package
                WHERE user_id = (
                    SELECT id
                    FROM user
                    WHERE open_id = #{open_id}
                )
            )
        )
    </select>
</mapper>