<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.couponfinder.mapper.CouponMapper">
    <resultMap id="mainMap" type="Coupon">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="status" column="status"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="totalQuantity" column="total_quantity"></result>
        <result property="usedQuantity" column="used_quantity"></result>
        <result property="collectedQuantity" column="collected_quantity"></result>
        <result property="originalPrice" column="original_price"></result>
        <result property="presentPrice" column="present_price"></result>
        <result property="startDate" column="start_date"></result>
        <result property="expireDate" column="expire_date"></result>
    </resultMap>

    <resultMap id="releasedValidCouponDTOMap" type="ReleasedValidCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="status" column="status"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="totalQuantity" column="total_quantity"></result>
        <result property="usedQuantity" column="used_quantity"></result>
        <result property="collectedQuantity" column="collected_quantity"></result>
    </resultMap>

    <resultMap id="expiredCouponDTOMap" type="ExpiredCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
    </resultMap>

    <resultMap id="walletCouponDTOMap" type="WalletCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="originalPrice" column="original_price"></result>
        <result property="presentPrice" column="present_price"></result>
    </resultMap>

    <resultMap id="walletUsedCouponDTOMap" type="WalletUsedCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="originalPrice" column="original_price"></result>
        <result property="presentPrice" column="present_price"></result>
        <result property="ts" column="ts"></result>
    </resultMap>

    <resultMap id="upcomingCouponDTOMap" type="UpcomingCouponDTO">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="pictureUrl" column="picture_url"></result>
        <result property="description" column="description"></result>
        <result property="startDate" column="start_date"></result>
    </resultMap>

    <insert id="addCoupon" parameterType="Coupon">
        INSERT INTO coupon(title, status, picture_url, description, total_quantity, used_quantity, collected_quantity,
        start_date, expire_date, category_id, original_price, present_price, merchant_id, release_ts)
        values (#{title}, #{status}, #{pictureUrl}, #{description}, #{totalQuantity}, #{usedQuantity},
        #{collectedQuantity}, #{startDate}, #{expireDate}, #{categoryId}, #{originalPrice}, #{presentPrice},
        #{merchantID}, #{releaseTs})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="minusCouponCollectedQuantity" parameterType="Long">
        UPDATE coupon
        SET collected_quantity = collected_quantity - 1
        WHERE id = #{id}
    </update>

    <update id="plusCouponCollectedQuantity">
        UPDATE coupon
        SET collected_quantity = collected_quantity + 1
        WHERE id = #{id}
    </update>

    <delete id="deleteCoupon">
        DELETE
        FROM card_package_coupon
        WHERE card_package_id = (
            SELECT card_package_id
            FROM user
            WHERE open_id = #{open_id}
        )
          AND coupon_id = #{id}
    </delete>

    <delete id="deleteUpcomingCoupon">
        DELETE
        FROM coupon
        WHERE merchant_id = #{merchantID}
          AND id = #{couponID}
    </delete>

    <update id="stopValidCoupon">
        UPDATE coupon
        SET status = 3
        WHERE merchant_id = #{merchantID}
          AND id = #{couponID}
    </update>

    <select id="getHotCoupons" resultMap="mainMap">
        SELECT *
        FROM coupon
        WHERE category_id = 2
          AND total_quantity - used_quantity - collected_quantity > 0
          AND now() BETWEEN start_date AND expire_date
        ORDER BY used_quantity DESC
    </select>

    <select id="getHotFoodCoupons" resultMap="mainMap">
        SELECT *
        FROM coupon
        WHERE category_id = 1
          AND total_quantity - used_quantity - collected_quantity > 0
          AND now() BETWEEN start_date AND expire_date
        ORDER BY used_quantity DESC
    </select>

    <select id="getOtherHotCoupons" resultMap="mainMap">
        SELECT *
        FROM coupon
        WHERE category_id = 3
          AND total_quantity - used_quantity - collected_quantity > 0
          AND now() BETWEEN start_date AND expire_date
          AND status != 3
        ORDER BY used_quantity DESC
    </select>

    <select id="getCouponInfo" resultMap="mainMap" parameterType="Long">
        SELECT *
        FROM coupon
        WHERE id = #{id}
    </select>

    <select id="getCouponDetailImages" resultType="String" parameterType="Long">
        SELECT img_url
        FROM goods_detail_image
        WHERE coupon_id = #{id}
    </select>

    <select id="getAvailableCoupons" resultMap="walletCouponDTOMap"
            parameterType="String">
        SELECT id, title, description, picture_url, original_price, present_price
        FROM coupon
        WHERE id IN (
            SELECT coupon_id
            FROM card_package_coupon
            WHERE card_package_id = (
                SELECT card_package_id
                FROM user
                WHERE open_id = #{open_id}
            )

              AND status = 1
        )
    </select>

    <select id="findCoupon" resultMap="mainMap">
        SELECT *
        FROM coupon
        WHERE title LIKE CONCAT('%', #{queryInfo}, '%')
    </select>

    <select id="getCouponUsedHistory" resultMap="walletUsedCouponDTOMap">
        SELECT id, title, description, picture_url, original_price, present_price, ts
        FROM (
                 SELECT coupon_id, ts
                 FROM card_package_coupon
                 WHERE card_package_id = (
                     SELECT card_package_id
                     FROM user
                     WHERE open_id = #{open_id}
                 ) AND status = 2
                 ORDER BY ts DESC
             ) AS tmp
                 LEFT JOIN coupon ON (coupon.id = tmp.coupon_id)
    </select>

    <select id="getReleasedValidCoupons" resultMap="releasedValidCouponDTOMap">
        SELECT id, title, status, description, picture_url, total_quantity, used_quantity, collected_quantity
        FROM coupon
        WHERE merchant_id = #{merchantID}
          AND now() BETWEEN start_date AND expire_date
        ORDER BY release_ts DESC
    </select>

    <select id="getExpiredCoupon" resultMap="expiredCouponDTOMap">
        SELECT id, title, description, picture_url
        FROM coupon
        WHERE merchant_id = #{merchantID}
          AND now() > expire_date
        ORDER BY expire_date DESC
    </select>

    <select id="getUpcomingCoupons" resultMap="upcomingCouponDTOMap">
        SELECT id, title, description, picture_url, start_date
        FROM coupon
        WHERE merchant_id = #{merchantID}
          AND start_date > now()
        ORDER BY start_date
    </select>

    <select id="getReleasedCouponMerchantID" resultType="java.lang.Long">
        SELECT merchant_id
        FROM coupon
        WHERE id = #{couponID}
    </select>

</mapper>