<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.couponfinder.mapper.UserRoleMapper">
    <resultMap id="mainMap" type="UserRole">
        <result property="id" column="id"></result>
        <result property="userID" column="user_id"></result>
        <result property="roleID" column="role_id"></result>
    </resultMap>

    <insert id="insert" parameterType="Long">
        INSERT INTO user_role (user_id, role_id)
        values (#{userID}, #{roleID})
    </insert>

    <select id="get" resultMap="mainMap">
        SELECT *
        FROM user_role
        WHERE user_id = #{userID}
          AND role_id = #{roleID}
    </select>
</mapper>